<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>수(水)리수리 정(淨)수리</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static "img/icon.png" %}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@700&display=swap');
    p{
    font-size: 1.4em;
    font-family: 'Do Hyeon', sans-serif;
    }
    p1{
    font-size: 1.4em;
    font-family: 'Do Hyeon', sans-serif;
    }
    p3{
    font-family: 'Do Hyeon', sans-serif;
    }
    p2{
    font-family: 'Do Hyeon', sans-serif;
    }
    ul {
      line-height: 30px;
      vertical-align: middle;
    }


    header {
      margin: 0;
      padding: 10px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      transition: top 0.2s ease-in-out;
    }

    img {
        width: auto;
        height: auto;
        max-width: 850px;
        max-height: 850px;
        object-fit: cover;
        }
  </style>


  <!-- Vendor CSS Files -->
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/icofont/icofont.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/remixicon/remixicon.css" %}' rel="stylesheet">
  <link href='{% static "vendor/venobox/venobox.css" %}' rel="stylesheet">
  <link href='{% static "vendor/owl.carousel/assets/owl.carousel.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "css/style.css" %}' rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v2.2.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h3 class="logo mr-auto"><a href='{% url 'map' %}' ><p style="font-family: 'Do Hyeon', sans-serif;">수(水)리수리 정(淨)수리</p></a></h3>
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="home.html" class="logo mr-auto"><img src='{% static "img/logo.png" %}' alt="" class="img-fluid"></a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href='{% url 'map' %}'><p>전국수질지도</p></a></li>
          <li><a href='{% url 'intro' %}'><p>프로젝트 개요</p></a></li>
          <li class="active"><a href='{% url 'emojomo' %}'><p>水돗물 이모저모</p></a></li>
          <li><a href='{% url 'team' %}'><p>팀 포세이돈</p></a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <p><a href="#portfolio" class="get-started-btn scrollto">시작하기</a></p>

    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <h2 style = 'text-align: center;'>水돗물 이모저모</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">



      <div class="container" data-aos="fade-up">

        <div class="section-title" data-aos="fade-right" data-aos-delay="100">
          <br><h2>들어가기 전에</h2>
          <img src='{% static "img/bonus.jpg" %}' class="img" alt=""><br><br><br><br><br><br>
          <p> 경도를 연수(1∼60ppm), 아연수(61∼120ppm), 아경수(121∼180ppm), 경수(180ppm 이상) 기준으로 분류하고 <br>
              연수 및 아연수에는 허브, 경수 및 아경수에는 커피아이콘으로 지도에 표시하면 다음과 같은 지도를 볼 수 있습니다.</p>
          <img src='{% static "img/coffeeherb.png" %}' class="img" alt="">

        </div>








      </div>
      </div>
    </section>
  </main><!-- End #main -->





  <!-- ======= Footer ======= -->
  <footer id="footer">

<!--    <div class="footer-newsletter">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-6">-->
<!--            <h4>오늘은 인턴십으로! 내일은 리더십으로!</h4>-->
<!--            <p>2020 공공데이터 청년인턴십을 통해<br>저희 팀 포세이돈은 꿈을 향해 도약합니다.</p>-->
<!--&lt;!&ndash;            <form action="" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;              <input type="email" name="email"><input type="submit" value="Subscribe">&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="footer-top">
<!--      <div class="container">-->
<!--        <div class="row">-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>포세이돈</h3>-->
<!--            <p>-->
<!--              대구광역시 중구 태평로 160<br>-->
<!--              대구스테이션센터 6층 <br><br>-->
<!--              <strong>Email:</strong> dt2002477@dt20gw.hyosungitx.com<br>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>행정안전부</h3>-->
<!--            <p>-->
<!--              (세종)세종특별자치시 정부2청사로 13<br>-->
<!--              (서울)서울특별시 종로구 세종대로 209<br>-->
<!--              <br><strong>콜센터:</strong> 02-2100-3399<br>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>한국정보화진흥원</h3>-->
<!--            <p>-->
<!--              (본사)대구광역시 동구 첨단로 53<br>-->
<!--              (서울)서울특별시 중구 청계천로 14<br><br>-->
<!--              <strong>대표전화: </strong>053-230-1114<br>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>효성ITX</h3>-->
<!--            <p>-->
<!--              (본사)서울특별시 영등포구 선유동2로 57<br>-->
<!--              (대전)대전광역시 서구 대덕대로 319<br>-->
<!--              <br><strong>대표전화:</strong> 02-2102-8400<br>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>SNS</h4>-->
<!--            <p2>Our Social Network Service</p2>-->
<!--            <div class="social-links mt-3">-->
<!--              <a href="https://youtu.be/BN2q9Wfo89A" class="youtube"><i class="bx bxl-youtube"></i></a>-->
<!--              <a href="https://www.instagram.com/datainterndt/" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>포세이돈</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>


  <!-- Vendor JS Files -->
  <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
  <script src='{% static "vendor/jquery.easing/jquery.easing.min.js" %}'></script>
  <script src='{% static "vendor/php-email-form/validate.js" %}'></script>
  <script src='{% static "vendor/waypoints/jquery.waypoints.min.js" %}'></script>
  <script src='{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}'></script>
  <script src='{% static "vendor/venobox/venobox.min.js" %}'></script>
  <script src='{% static "vendor/owl.carousel/owl.carousel.min.js" %}'></script>
  <script src='{% static "vendor/aos/aos.js" %}'></script>

  <!-- Template Main JS File -->
  <script src='{% static "js/main.js" %}'></script>
  <!--  상단 네비게이션 자동 숨김-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


  <script>


  </script>




</body>

</html>